<header  class="main-header">
    <!-- Nav -->
    <div class="k-nav all-light">
      <div class="k-nav-toggle"><span></span></div>
      <div class="k-nav-outside container">
        <div class="k-nav-inside">
          <a href="./" class="k-nav-logo">
            <img src="assets/images/logo.png" width="700" height="200" alt=""/>
          </a>
          <ul class="k-nav-links">
            <li class="active"><a href="#" data-nav-to="#one"><span>About</span></a></li>
            <li><a data-nav-to="#two" href="#"><span>services</span></a></li>
            <li><a data-nav-to="#three" href="#"><span>portfolio</span></a></li>
            <li><a data-nav-to="#four" href="#"><span>pricing</span></a></li>
            <li><a data-nav-to="#five" href="#"><span>blog</span></a></li>
            <li><a data-nav-to="#six" href="#"><span>Contact</span></a></li>
          </ul>
        </div>
      </div>
    </div>
</header>