<footer id="footer" class="main-footer">
    <div class="container all-light">
      <div><img src="assets/images/logo.png" width="240" height="80" alt=""></div>
      <div class="footer-top">
        <div class="unit wow fadeIn">
          <p class="unit-left">A:</p>
          <div class="unit-body">
            <p class="text-semibold">Saber Digital Agency</p>
            <p class="text-thin">71 Pilgrim Avenue</p>
          </div>
        </div>
        <div class="unit wow fadeIn" data-wow-delay="0.1s">
          <p class="unit-left">P:</p>
          <div class="unit-body">
            <p class="text-thin"><a href="tel:+9001234567">+(900) 123-45-67</a></p>
            <p class="text-thin"><a href="tel:+9001234568">+(900) 123-45-68</a></p>
          </div>
        </div>
        <div class="unit wow fadeIn" data-wow-delay="0.2s">
          <p class="unit-left">E:</p>
          <div class="unit-body">
            <p class="text-thin"><a href="mailto:help@example.com">help@example.com</a></p>
            <p class="text-thin"><a href="mailto:help@example.com">help@example.com</a></p>
          </div>
        </div>
      </div>
      <hr class="divider">
      <div class="footer-bottom">
        <p><strong>Saber</strong> © 2017 All Rights Reserved</p>
        
        <ul class="list-inline">
          <li><a href="#" class="icon fa fa-facebook"></a></li>
          <li><a href="#" class="icon fa fa-twitter"></a></li>
          <li><a href="#" class="icon fa fa-linkedin"></a></li>
        </ul>
      </div>
    </div>
  </footer>