<section class="p-100 triangle triangle-right">
      <div class="side-images">
        <div class="container">
          <div class="section-title">
            <h4 class="title">Client's word</h4>
            <span class="after-title">testimonials</span>
          </div>
          <div class="slider_1">
            <div>
              <div class="slide-head">
                <span>”</span>
              </div>
              <blockquote>
                <q>“You won't regret it. We've seen amazing results already. Very easy to use!”</q>
              </blockquote>
              <div class="slide-footer">
                <img src="assets/images/testimonials/testim-1.jpg" alt="">
                <div class="cite">
                  <p>Mary Gray</p>
                  <p class="small text-semibold text-secondary text-uppercase">President</p>
                  <p class="small text-italic text-light"><a href="#">marygray.com</a></p>
                </div>
              </div>
            </div>
            <div>
              <div class="slide-head">
                <span>”</span>
              </div>
              <blockquote>
                <q>“Thanks guys, absolutely wonderful, keep up the good work!”</q>
              </blockquote>
              <div class="slide-footer">
                <img src="assets/images/testimonials/testim-2.jpg" alt="">
                <div class="cite">
                  <p>Roberta  Ball</p>
                  <p class="small text-semibold text-secondary text-uppercase">President</p>
                  <p class="small text-italic text-light">Marketing Society</p>
                </div>
              </div>
            </div>
            <div>
              <div class="slide-head">
                <span>”</span>
              </div>
              <blockquote>
                <q>“You won't regret it. We've seen amazing results already. Very easy to use!”</q>
              </blockquote>
              <div class="slide-footer">
                <img src="assets/images/testimonials/testim-1.jpg" alt="">
                <div class="cite">
                  <p>Mary Gray</p>
                  <p class="small text-semibold text-secondary text-uppercase">President</p>
                  <p class="small text-italic text-light"><a href="#">marygray.com</a></p>
                </div>
              </div>
            </div>
            <div>
              <div class="slide-head">
                <span>”</span>
              </div>
              <blockquote>
                <q>“Thanks guys, absolutely wonderful, keep up the good work!”</q>
              </blockquote>
              <div class="slide-footer">
                <img src="assets/images/testimonials/testim-2.jpg" alt="">
                <div class="cite">
                  <p>Roberta  Ball</p>
                  <p class="small text-semibold text-secondary text-uppercase">President</p>
                  <p class="small text-italic text-light">Marketing Society</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>