<section id="three" class="p-100">
      <div class="container">
        <div class="section-title">
          <h4 class="title">Portfolio</h4>
          <span class="after-title">Portfolio</span>
        </div>

        <div class="iso">
          <div class="button-group filters-button-group">
            <button class="button is-checked" data-filter="*">All</button>
            <button class="button" data-filter=".Branding">Branding</button>
            <button class="button" data-filter=".Photography">Photography</button>
            <button class="button" data-filter=".design">Graphic design</button>
          </div>

          <div class="grid">
            <div>
              <article class="Photography w-1 h-50">
                <div class="img-container">
                  <img src="assets/images/portfolio/portfolio-1.jpg" alt="">
                  <div class="img-panel">
                    <div class="all-light">
                      <h3>Project name</h3>
                      <a href="#popup-project-01" class="btn btn-sm btn-primary fancybox">View Project</a>
                      <div class="hide">
                        <div id="popup-project-01">
                          <div class="popup-cont">
                            <h3>PROJECT NAME</h3>
                            <hr class="divider divider-gray">
                            <img src="assets/images/portfolio/portfolio-1.jpg" alt="">
                            <p class="text-gray">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer porttitor massa sed velit egestas vulputate. Morbi turpis tellus, porta in cursus at, finibus vitae dui. Nam mollis quam a sem iaculis euismod. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed ac pharetra justo, vel dapibus tortor. Etiam laoreet imperdiet varius.</p>
                            <ul class="project-list">
                              <li>
                                <span class="title">Date:</span>
                                <span class="content">21 September 2016</span>
                              </li>
                              <li>
                                <span class="title">Client:</span>
                                <span class="content">Project A</span>
                              </li>
                              <li>
                                <span class="title">Category:</span>
                                <span class="content">Web Design</span>
                              </li>
                              <li>
                                <span class="title">Project URL:</span>
                                <span class="content"><a href="#">www.example.net</a></span>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </article>
              <article class="design w-1 h-50">
                <div class="img-container">
                  <img src="assets/images/portfolio/portfolio-2.jpg" alt="">
                  <div class="img-panel">
                    <div class="all-light">
                      <h3>Project name</h3>
                      <a href="#popup-project-02" class="btn btn-sm btn-primary fancybox">View Project</a>
                      <div class="hide">
                        <div id="popup-project-02">
                          <div class="popup-cont">
                            <h3>PROJECT NAME</h3>
                            <hr class="divider divider-gray">
                            <img src="assets/images/portfolio/portfolio-2.jpg" alt="">
                            <p class="text-gray">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer porttitor massa sed velit egestas vulputate. Morbi turpis tellus, porta in cursus at, finibus vitae dui. Nam mollis quam a sem iaculis euismod. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed ac pharetra justo, vel dapibus tortor. Etiam laoreet imperdiet varius.</p>
                            <ul class="project-list">
                              <li>
                                <span class="title">Date:</span>
                                <span class="content">21 September 2016</span>
                              </li>
                              <li>
                                <span class="title">Client:</span>
                                <span class="content">Project A</span>
                              </li>
                              <li>
                                <span class="title">Category:</span>
                                <span class="content">Web Design</span>
                              </li>
                              <li>
                                <span class="title">Project URL:</span>
                                <span class="content"><a href="#">www.example.net</a></span>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </article>
              <article class="Branding Photography design w-2 h-100">
                <div class="img-container">
                  <img src="assets/images/portfolio/portfolio-3.jpg" alt="">
                  <div class="img-panel">
                    <div class="all-light">
                      <h3>Project name</h3>
                      <a href="#popup-project-03" class="btn btn-sm btn-primary fancybox">View Project</a>
                      <div class="hide">
                        <div id="popup-project-03">
                          <div class="popup-cont">
                            <h3>PROJECT NAME</h3>
                            <hr class="divider divider-gray">
                            <img src="assets/images/portfolio/portfolio-3.jpg" alt="">
                            <p class="text-gray">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer porttitor massa sed velit egestas vulputate. Morbi turpis tellus, porta in cursus at, finibus vitae dui. Nam mollis quam a sem iaculis euismod. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed ac pharetra justo, vel dapibus tortor. Etiam laoreet imperdiet varius.</p>
                            <ul class="project-list">
                              <li>
                                <span class="title">Date:</span>
                                <span class="content">21 September 2016</span>
                              </li>
                              <li>
                                <span class="title">Client:</span>
                                <span class="content">Project A</span>
                              </li>
                              <li>
                                <span class="title">Category:</span>
                                <span class="content">Web Design</span>
                              </li>
                              <li>
                                <span class="title">Project URL:</span>
                                <span class="content"><a href="#">www.example.net</a></span>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </article>
              <article class="Branding w-2 h-50">
                <div class="img-container">
                  <img src="assets/images/portfolio/portfolio-4.jpg" alt="">
                  <div class="img-panel">
                    <div class="all-light">
                      <h3>Project name</h3>
                      <a href="#popup-project-04" class="btn btn-sm btn-primary fancybox">View Project</a>
                      <div class="hide">
                        <div id="popup-project-04">
                          <div class="popup-cont">
                            <h3>PROJECT NAME</h3>
                            <hr class="divider divider-gray">
                            <img src="assets/images/portfolio/portfolio-4.jpg" alt="">
                            <p class="text-gray">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer porttitor massa sed velit egestas vulputate. Morbi turpis tellus, porta in cursus at, finibus vitae dui. Nam mollis quam a sem iaculis euismod. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed ac pharetra justo, vel dapibus tortor. Etiam laoreet imperdiet varius.</p>
                            <ul class="project-list">
                              <li>
                                <span class="title">Date:</span>
                                <span class="content">21 September 2016</span>
                              </li>
                              <li>
                                <span class="title">Client:</span>
                                <span class="content">Project A</span>
                              </li>
                              <li>
                                <span class="title">Category:</span>
                                <span class="content">Web Design</span>
                              </li>
                              <li>
                                <span class="title">Project URL:</span>
                                <span class="content"><a href="#">www.example.net</a></span>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </article>
              <article class="Branding design w-1 h-50">
                <div class="img-container">
                  <img src="assets/images/portfolio/portfolio-5.jpg" alt="">
                  <div class="img-panel">
                    <div class="all-light">
                      <h3>Project name</h3>
                      <a href="#popup-project-05" class="btn btn-sm btn-primary fancybox">View Project</a>
                      <div class="hide">
                        <div id="popup-project-05">
                          <div class="popup-cont">
                            <h3>PROJECT NAME</h3>
                            <hr class="divider divider-gray">
                            <img src="assets/images/portfolio/portfolio-5.jpg" alt="">
                            <p class="text-gray">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer porttitor massa sed velit egestas vulputate. Morbi turpis tellus, porta in cursus at, finibus vitae dui. Nam mollis quam a sem iaculis euismod. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed ac pharetra justo, vel dapibus tortor. Etiam laoreet imperdiet varius.</p>
                            <ul class="project-list">
                              <li>
                                <span class="title">Date:</span>
                                <span class="content">21 September 2016</span>
                              </li>
                              <li>
                                <span class="title">Client:</span>
                                <span class="content">Project A</span>
                              </li>
                              <li>
                                <span class="title">Category:</span>
                                <span class="content">Web Design</span>
                              </li>
                              <li>
                                <span class="title">Project URL:</span>
                                <span class="content"><a href="#">www.example.net</a></span>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </article>
              <article class="Photography w-1 h-50">
                <div class="img-container">
                  <img src="assets/images/portfolio/portfolio-6.jpg" alt="">
                  <div class="img-panel">
                    <div class="all-light">
                      <h3>Project name</h3>
                      <a href="#popup-project-06" class="btn btn-sm btn-primary fancybox">View Project</a>
                      <div class="hide">
                        <div id="popup-project-06">
                          <div class="popup-cont">
                            <h3>PROJECT NAME</h3>
                            <hr class="divider divider-gray">
                            <img src="assets/images/portfolio/portfolio-6.jpg" alt="">
                            <p class="text-gray">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer porttitor massa sed velit egestas vulputate. Morbi turpis tellus, porta in cursus at, finibus vitae dui. Nam mollis quam a sem iaculis euismod. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed ac pharetra justo, vel dapibus tortor. Etiam laoreet imperdiet varius.</p>
                            <ul class="project-list">
                              <li>
                                <span class="title">Date:</span>
                                <span class="content">21 September 2016</span>
                              </li>
                              <li>
                                <span class="title">Client:</span>
                                <span class="content">Project A</span>
                              </li>
                              <li>
                                <span class="title">Category:</span>
                                <span class="content">Web Design</span>
                              </li>
                              <li>
                                <span class="title">Project URL:</span>
                                <span class="content"><a href="#">www.example.net</a></span>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </article>
              <article class="design w-1 h-50">
                <div class="img-container">
                  <img src="assets/images/portfolio/portfolio-7.jpg" alt="">
                  <div class="img-panel">
                    <div class="all-light">
                      <h3>Project name</h3>
                      <a href="#popup-project-07" class="btn btn-sm btn-primary fancybox">View Project</a>
                      <div class="hide">
                        <div id="popup-project-07">
                          <div class="popup-cont">
                            <h3>PROJECT NAME</h3>
                            <hr class="divider divider-gray">
                            <img src="assets/images/portfolio/portfolio-7.jpg" alt="">
                            <p class="text-gray">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer porttitor massa sed velit egestas vulputate. Morbi turpis tellus, porta in cursus at, finibus vitae dui. Nam mollis quam a sem iaculis euismod. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed ac pharetra justo, vel dapibus tortor. Etiam laoreet imperdiet varius.</p>
                            <ul class="project-list">
                              <li>
                                <span class="title">Date:</span>
                                <span class="content">21 September 2016</span>
                              </li>
                              <li>
                                <span class="title">Client:</span>
                                <span class="content">Project A</span>
                              </li>
                              <li>
                                <span class="title">Category:</span>
                                <span class="content">Web Design</span>
                              </li>
                              <li>
                                <span class="title">Project URL:</span>
                                <span class="content"><a href="#">www.example.net</a></span>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </article>
              <article class="design w-1 h-50">
                <div class="img-container">
                  <img src="assets/images/portfolio/portfolio-8.jpg" alt="">
                  <div class="img-panel">
                    <div class="all-light">
                      <h3>Project name</h3>
                      <a href="#popup-project-08" class="btn btn-sm btn-primary fancybox">View Project</a>
                      <div class="hide">
                        <div id="popup-project-08">
                          <div class="popup-cont">
                            <h3>PROJECT NAME</h3>
                            <hr class="divider divider-gray">
                            <img src="assets/images/portfolio/portfolio-8.jpg" alt="">
                            <p class="text-gray">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer porttitor massa sed velit egestas vulputate. Morbi turpis tellus, porta in cursus at, finibus vitae dui. Nam mollis quam a sem iaculis euismod. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed ac pharetra justo, vel dapibus tortor. Etiam laoreet imperdiet varius.</p>
                            <ul class="project-list">
                              <li>
                                <span class="title">Date:</span>
                                <span class="content">21 September 2016</span>
                              </li>
                              <li>
                                <span class="title">Client:</span>
                                <span class="content">Project A</span>
                              </li>
                              <li>
                                <span class="title">Category:</span>
                                <span class="content">Web Design</span>
                              </li>
                              <li>
                                <span class="title">Project URL:</span>
                                <span class="content"><a href="#">www.example.net</a></span>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </article>
            </div>
          </div>
        </div>
      </div>
    </section>