<section class="p-60 bg-second">
      <div class="container all-light">
        <div class="row flex-middle">
          <div class="col-md-9">
            <h3>GET SPECIAL OFFERS DIRECTLY INTO YOUR EMAIL</h3>
          </div>
          <div class="col-md-3 mt-20 mt-md-0">
            <a data-scroll-to="#subscr" href="#" class="btn btn-md btn-default btn-light">Subscribe</a>
          </div>
        </div>
      </div>
    </section>


    <section class="video-section">
      <span class="overlay"></span>
      <div class="container">
        <div class="video-caption">
          <a href="https://player.vimeo.com/video/108899775" class="icon fa fa-play fancybox-media"></a>
        </div>
      </div>
    </section>