<section id="five" class="p-100 triangle triangle-offset">
      <div class="container">
        <div class="section-title">
          <h4 class="title">our blog</h4>
          <span class="after-title">our blog</span>
        </div>
        <div class="slider_2 text-left">
          <div>
            <div class="blog-post">
              <img src="assets/images/blog/blog-01.jpg" width="850" height="530" alt=""/>
              <div class="post-text">
                <h4 class="post-title"><a href="#">Marketing Strategy</a></h4>
                <p>Debitis, minima nostrum nam iste. consectetur adipisicing elit. Ipsa quidem, iure placeat consequatur? Autem ut commodi facilis.</p>
                <div class="post-data">
                  <a href="#"><span class="icon icon-sm fa fa-comments"></span><span>14</span></a>
                  <p><span class="icon icon-sm fa fa-calendar"></span><span>21 SEP 2017</span></p>
                  <a href="#" class="pull-right more-link">Read more</a>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="blog-post">
              <img src="assets/images/blog/blog-02.jpg" width="850" height="530" alt=""/>
              <div class="post-text">
                <h4 class="post-title"><a href="#">Compeling design</a></h4>
                <p>Debitis, minima nostrum nam iste. consectetur adipisicing elit. Ipsa quidem, iure placeat consequatur? Autem ut commodi facilis.</p>
                <div class="post-data">
                  <a href="#"><span class="icon icon-sm fa fa-comments"></span><span>14</span></a>
                  <p><span class="icon icon-sm fa fa-calendar"></span><span>21 SEP 2017</span></p>
                  <a href="#" class="pull-right more-link">Read more</a>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="blog-post">
              <img src="assets/images/blog/blog-03.jpg" width="850" height="530" alt=""/>
              <div class="post-text">
                <h4 class="post-title"><a href="#">Office news</a></h4>
                <p>Debitis, minima nostrum nam iste. consectetur adipisicing elit. Ipsa quidem, iure placeat consequatur? Autem ut commodi facilis.</p>
                <div class="post-data">
                  <a href="#"><span class="icon icon-sm fa fa-comments"></span><span>14</span></a>
                  <p><span class="icon icon-sm fa fa-calendar"></span><span>21 SEP 2017</span></p>
                  <a href="#" class="pull-right more-link">Read more</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>