<section id="four" class="p-100 bg-second">
      <div class="container">
        <div class="section-title light">
          <h4 class="title">Pricing</h4>
          <span class="after-title">Pricing</span>
        </div>
        <div class="row">
          <div class="col-sm-6 col-md-4 wow fadeInLeft">
            <div class="pricing-box">
              <h4 class="pricing-box-head">Basic</h4>
              <div class="pricing-box-main">
                <h1 class="text-bold"><span class="price">$</span>60</h1>
              </div>
              <div class="pricing-box-body">
                <ul class="list">
                  <li>Free consultment</li>
                  <li>Daily support</li>
                  <li>Collaboration</li>
                </ul>
                <a href="#" class="btn btn-lg btn-default">Buy now</a>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 mt-30 mt-sm-0 wow fadeInLeft" data-wow-delay="0.1s">
            <div class="pricing-box pricing-box-primary">
              <h4 class="pricing-box-head">Classic</h4>
              <div class="pricing-box-main">
                <h1 class="text-bold"><span class="price">$</span>90</h1>
              </div>
              <div class="pricing-box-body">
                <ul class="list">
                  <li>Free consultment</li>
                  <li>Daily support</li>
                  <li>Collaboration</li>
                </ul>
                <a href="#" class="btn btn-lg btn-default">Buy now</a>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 mt-30 mt-md-0 wow fadeInLeft" data-wow-delay="0.2s">
            <div class="pricing-box">
              <h4 class="pricing-box-head">Premium</h4>
              <div class="pricing-box-main">
                <h1 class="text-bold"><span class="price">$</span>120</h1>
              </div>
              <div class="pricing-box-body">
                <ul class="list">
                  <li>Free consultment</li>
                  <li>Daily support</li>
                  <li>Collaboration</li>
                </ul>
                <a href="#" class="btn btn-lg btn-default">Buy now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>