<section class="p-100 triangle">
      <div class="container">
        <div class="section-title">
          <h4 class="title">Our Team</h4>
          <span class="after-title">Our Team</span>
        </div>
        <div class="row all-light text-left">
          <div class="col-xs-6 col-md-3">
            <div class="img-container">
              <img src="assets/images/team/person-1.jpg" alt="">
              <div class="img-panel">
                <div class="img-title">
                  <h4>Kyoko Izumi</h4>
                  <p>Web designer</p>
                </div>
                <ul class="img-links">
                  <li><a href="#" class="icon fa fa-facebook"></a></li>
                  <li><a href="#" class="icon fa fa-twitter"></a></li>
                  <li><a href="#" class="icon fa fa-linkedin"></a></li>
                  <li><a href="#" class="icon fa fa-google-plus"></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-md-3 mt-30 mt-xs-0">
            <div class="img-container">
              <img src="assets/images/team/person-2.jpg" alt="">
              <div class="img-panel">
                <div class="img-title">
                  <h4>Lewis Marshall</h4>
                  <p>Web designer</p>
                </div>
                <ul class="img-links">
                  <li><a href="#" class="icon fa fa-facebook"></a></li>
                  <li><a href="#" class="icon fa fa-twitter"></a></li>
                  <li><a href="#" class="icon fa fa-linkedin"></a></li>
                  <li><a href="#" class="icon fa fa-google-plus"></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-md-3 mt-30 mt-md-0">
            <div class="img-container">
              <img src="assets/images/team/person-3.jpg" alt="">
              <div class="img-panel">
                <div class="img-title">
                  <h4>Sophie  Watson</h4>
                  <p>Web designer</p>
                </div>
                <ul class="img-links">
                  <li><a href="#" class="icon fa fa-facebook"></a></li>
                  <li><a href="#" class="icon fa fa-twitter"></a></li>
                  <li><a href="#" class="icon fa fa-linkedin"></a></li>
                  <li><a href="#" class="icon fa fa-google-plus"></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-md-3 mt-30 mt-md-0">
            <div class="img-container">
              <img src="assets/images/team/person-4.jpg" alt="">
              <div class="img-panel">
                <div class="img-title">
                  <h4>Louis Willis</h4>
                  <p>Web designer</p>
                </div>
                <ul class="img-links">
                  <li><a href="#" class="icon fa fa-facebook"></a></li>
                  <li><a href="#" class="icon fa fa-twitter"></a></li>
                  <li><a href="#" class="icon fa fa-linkedin"></a></li>
                  <li><a href="#" class="icon fa fa-google-plus"></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>