<section id="six" class="pt-100 pb-60 z-index-high bg-second">
      <div class="container all-light">
        <div class="section-title light">
          <h4 class="title">get in touch</h4>
          <span class="after-title">get in touch</span>
        </div>
        <h2 class="default-font text-thin mt-">Contact us Whenever You Have a Question</h2>
        <form class="contact-form">
          <div class="form-group">
            <input autocomplete="off" id="name" type="text" name="name" class="form-control required" placeholder="Full Name">
          </div>
          <div class="form-group">
            <input autocomplete="off" id="email" type="email" name="email" class="form-control required" placeholder="Email address">
          </div>
          <div class="form-group">
            <textarea name="message" id="message" class="form-control required" placeholder="Your message"></textarea>
          </div>
          <button type="submit" class="btn btn-md btn-default mt-20">Send message</button>
        </form>
        <div class="row contact-data-wrapper">
          <div class="col-xs-6 col-sm-3 contact-data wow fadeInUp">
            <span class="icon icon-lg fa fa-phone"></span>
            <p class="small"><a href="tel:+9001234568">+(900) 123-45-68</a></p>
            <p class="small"><a href="tel:+9001234568">+(900) 123-45-68</a></p>
          </div>
          <div class="col-xs-6 col-sm-3 contact-data mt-30 mt-xs-0 wow fadeInUp" data-wow-delay="0.1s">
            <span class="icon icon-lg fa fa-map-marker"></span>
            <p class="small">71 Pilgrim Avenue <br class="hide show-md-block">Chevy Chase, MD 20815</p>
          </div>
          <div class="col-xs-6 col-sm-3 contact-data mt-30 mt-sm-0 wow fadeInUp" data-wow-delay="0.2s">
            <span class="icon icon-lg fa fa-envelope"></span>
            <p class="small"><a href="mailto:help@example.com">help@example.com</a></p>
            <p class="small"><a href="mailto:help@example.com">help@example.com</a></p>
          </div>
          <div class="col-xs-6 col-sm-3 contact-data mt-30 mt-sm-0 wow fadeInUp" data-wow-delay="0.3s">
            <span class="icon icon-lg fa fa-clock-o"></span>
            <p class="small">Mon - Fri: 08.00 - 16.00</p>
            <p class="small">Sat - Sun: 09.00 - 14.00</p>
          </div>
        </div>
      </div>
    </section>