<section id="subscr" class="p-100 bg-second">
      <div class="container">
        <div class="section-title light">
          <h4 class="title">Subscribe</h4>
          <span class="after-title">Subscribe</span>
        </div>
        <form class="subscription-form form js-form" method="POST">
          <input autocomplete="off" required type="email" name="email" id="s-email" class="form-control" placeholder="Email">
          <button type="submit" class="btn btn-sm btn-default btn-submit">
            <span class="icon icon-sm fa fa-send hide-sm"></span>
            <span class="hide show-sm-block">Subscribe</span>
          </button>
          <label for="s-email" class="js-result"></label>
        </form>
      </div>
    </section>