<section id="home" class="parallax-bg" data-parallax="scroll" data-speed="0.4" data-image-src="assets/images/index-01.jpg">
  <div class="first-section overlay-bg all-light">
    <div class="container">
      <div>
        <h1>Digital Marketing Responsive Template</h1>
        <h3 class="text-light">We create digital products to elevate and empower business.</h3>
        <div class="btn-block">
          <a href="#" class="btn btn-md btn-default">buy template <span class="icon icon-sm fa fa-shopping-cart"></span></a>
          <a data-scroll-to="#one" href="#" class="btn btn-md btn-default">Learn more <span class="icon icon-sm fa fa-angle-double-down"></span></a>
        </div>
      </div>
    </div>
  </div>
</section>