<section id="two" class="p-100 bg-second">
      <div class="container all-light">
        <div class="flex-it">
          <div class="section-title light">
            <h4 class="title">services</h4>
            <span class="after-title">services</span>
          </div>
          <div class="quote"><h3 class="default-font"><span>“</span> Always ready to make the best out of your ideas.<span>”</span></h3></div>
        </div>
        <div class="row flex-middle cont-block left no-before">
          <div class="col-md-6 wow fadeInLeft" data-wow-delay="0.5s">
            <img src="assets/images/services/serv-1.png" width="380" height="380" alt="">
          </div>
          <div class="col-md-6 text-md-left wow fadeInRight">
            <div class="inner-cont">
              <p>WEB DEVELOPMENT</p>
              <h2 class="default-font text-thin">Smart Digital Strategy and Action Planning</h2>
              <h5 class="default-font text-thin">Integer tincidunt. Cras dapibus. Vivamus elementum quam quas quo doloribus <strong>voluptas facere ratione!</strong></h5>
            </div>
          </div>
        </div>
        <div class="row flex-middle cont-block right">
          <div class="col-md-6 col-md-order-1 wow fadeInRight" data-wow-delay="0.5s">
            <img src="assets/images/services/serv-2.png" width="380" height="380" alt="">
          </div>
          <div class="col-md-6 text-md-right wow fadeInLeft">
            <div class="inner-cont">
              <p class="second-font text-primary text-bold ls-130">WEB DESIGN</p>
              <h2 class="default-font text-thin">Modern Website Design For All Devices</h2>
              <h5 class="default-font text-thin">Adipisicing elit. Quam quas quo doloribus <strong>voluptas facere ratione!</strong></h5>
            </div>
          </div>
        </div>
        <div class="row flex-middle cont-block left">
          <div class="col-md-6 wow fadeInLeft" data-wow-delay="0.5s">
            <img src="assets/images/services/serv-3.png" width="380" height="380" alt="">
          </div>
          <div class="col-md-6 text-md-left wow fadeInRight">
            <div class="inner-cont">
              <p class="second-font text-primary text-bold ls-130">SEO</p>
              <h2 class="default-font text-thin">Top Search Engine Rankings</h2>
              <h5 class="default-font text-thin">Vivamus elementum quam quas quo doloribus <strong>voluptas facere ratione!</strong></h5>
            </div>
          </div>
        </div>
        <div class="row flex-middle cont-block right">
          <div class="col-md-6 col-md-order-1 wow fadeInRight" data-wow-delay="0.5s">
            <img src="assets/images/services/serv-4.png" width="380" height="380" alt="">
          </div>
          <div class="col-md-6 text-md-right wow fadeInLeft">
            <div class="inner-cont">
              <p class="second-font text-primary text-bold ls-130">MARKETING</p>
              <h2 class="default-font text-thin">Progressive Marketing Strategies</h2>
              <h5 class="default-font text-thin">Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. <strong>Donec sodales sagittis magna</strong></h5>
            </div>
          </div>
        </div>
      </div>
    </section>